*__pycahce__*
*.pycinput_videos/ 
output_videos/ 
models/ 
venv39/ 
venv39_new/ 

# Ignore Python cache and compiled files
__pycache__/
*.pyc
*.pyo
*.pyd
*.mp4
*.pkl
*.png
*.jpg
*.json

# (Optional) Ignore stub files if not needed
stubs/
chunk_stubs/