# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
venv39/
venv39_new/

# Models / large files
models/

# Videos & outputs
demo_output/
output_videos/
*.mp4

# Data files
*.pkl

# Images (outputs فقط)
*.png
*.jpg

# Optional folders
stubs/
chunk_stubs/

# OS files
.DS_Store
Thumbs.db